.hello {
  font-size: 25px;
}
.role {
  font-family: "Masiku", sans-serif;
  font-size: 55px;
  letter-spacing: 5px;
}
.name {
  font-family: "Newaves", sans-serif;
  letter-spacing: 3px;
}
.heading {
  font-family: "Yew Basturd", sans-serif;
}
